<h1>Estudante</h1><br><br>

<%= link_to new_admins_backoffice_student_path do %>
  <i class="fa fa-plus"></i> Novo
<% end %>

<div class="x_content">
  <table class="table table-striped">
    <thead>
    <tr>
      <th><%= @students.human_attribute_name(:ar) %></th>
      <th><%= @students.human_attribute_name(:description) %></th>
      <th><%= @students.human_attribute_name(:year) %></th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @students.each do |student| %>
      <tr scope="row">
        <td><%= student.ar %></td>
        <td><%= student.description %></td>
        <td><%= student.year %></td>
        <td>
          <%= link_to edit_admins_backoffice_student_path(student) do %>
            <i class="fa fa-pencil"></i>
          <% end %>
        </td>
        <td>
          <%= link_to admins_backoffice_student_path(student), method: :delete, data: {confirm: 'Você tem certeza?'} do %>
            <i class="fa fa-minus"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>