<p id="notice"><%= notice %></p>

<p>
  <strong><%= Student.human_attribute_name(:ar) %>:</strong>
  <%= @student.ar %>
</p>

<p>
  <strong><%= Student.human_attribute_name(:description) %>:</strong>
  <%= @student.description %>
</p>

<p>
  <strong><%= Student.human_attribute_name(:email) %>:</strong>
  <%= @student.email %>
</p>

<p>
  <strong><%= Student.human_attribute_name(:telephone) %>:</strong>
  <%= @student.telephone %>
</p>

<p>
  <strong><%= Student.human_attribute_name(:year) %>:</strong>
  <%= @student.year %>
</p>

<%= link_to t('links.edit'), edit_student_path(@student) %> |
<%= link_to t('links.back'), students_path %>
