<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @student.description %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Telefon:</strong>
  <%= @student.telefon %>
</p>

<p>
  <strong>Ar:</strong>
  <%= @student.ar %>
</p>

<p>
  <strong>Year:</strong>
  <%= @student.year %>
</p>

<p>
  <strong>Depence:</strong>
  <%= @student.depence %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
