<li>
  <%= link_to "Matérias", admins_backoffice_courses_path %>
</li>
<li>
  <%= link_to "Estudantes", admins_backoffice_students_path %>
</li>
<li>
  <%= link_to "Professores", admins_backoffice_users_path %>
</li>
<li>
  <%= link_to "Administradores", admins_backoffice_admins_path %>
</li>
<li>
  <%= link_to "Horários", admins_backoffice_schedules_path%>
</li>

<p> <%= link_to 'LogOff', destroy_admin_session_path, method: :delete%> </p>