<p id="notice"><%= notice %></p>

<p>
  <strong><%= Schedule.human_attribute_name(:professor_id) %>:</strong>
  <%= Professor.find(@schedule.professor_id).description %>
</p>

<p>
  <strong><%= Schedule.human_attribute_name(:course_id) %>:</strong>
  <%= Course.find(@schedule.course_id).description %>
</p>

<p>
  <strong><%= Schedule.human_attribute_name(:students) %>:</strong>
  <%= @schedule.students %>
</p>

<p>
  <strong><%= Schedule.human_attribute_name(:weekday) %>:</strong>
  <%= @schedule.weekday %>
</p>

<p>
  <strong><%= Schedule.human_attribute_name(:group) %>:</strong>
  <%= @schedule.group %>
</p>

<p>
  <strong><%= Schedule.human_attribute_name(:time) %>:</strong>
  <%= @schedule.time %>
</p>

<p>
  <strong><%= Schedule.human_attribute_name(:time_end) %>:</strong>
  <%= @schedule.time_end %>
</p>

<%= link_to t('links.edit'), edit_schedule_path(@schedule) %> |
<%= link_to t('links.back'), schedules_path %>
