<h1>Seja Bem-Vindo!!</h1>
<p>Idioma ativo é: <%=I18n.locale%></p>
<p> Data <%= Date.today %></p>
<ul>
  <li>
    <%= link_to "Cadastro de estudantes", students_path %>
  </li>
  <li>
    <%= link_to "Cadastro de materias", courses_path %>
  </li>
  <li>
    <%= link_to "Cadastro de professores", professors_path %>
  </li>
  <li>
    <%= link_to "Cadastro das aulas", schedules_path %>
  </li>
</ul>