<p id="notice"><%= notice %></p>

<h1>Professors</h1>

<table>
  <thead>
    <tr>
      <th><%= @professors.human_attribute_name(:ar) %></th>
      <th><%= @professors.human_attribute_name(:description) %></th>
      <th><%= @professors.human_attribute_name(:email) %></th>
      <th><%= @professors.human_attribute_name(:telephone) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @professors.each do |professor| %>
      <tr>
        <td><%= professor.ar %></td>
        <td><%= professor.description %></td>
        <td><%= professor.email %></td>
        <td><%= professor.telephone %></td>
        <td><%= link_to t('links.show'), professor %></td>
        <td><%= link_to t('links.edit'), edit_professor_path(professor) %></td>
        <td><%= link_to t('links.delete'), professor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('links.new'), new_professor_path %>
