<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @professor.description %>
</p>

<p>
  <strong>Email:</strong>
  <%= @professor.email %>
</p>

<p>
  <strong>Telefon:</strong>
  <%= @professor.telefon %>
</p>

<p>
  <strong>Ar:</strong>
  <%= @professor.ar %>
</p>

<p>
  <strong>Can schedule:</strong>
  <%= @professor.can_schedule %>
</p>

<p>
  <strong>Cant schedule:</strong>
  <%= @professor.cant_schedule %>
</p>

<%= link_to 'Edit', edit_professor_path(@professor) %> |
<%= link_to 'Back', professors_path %>
