<%= form_with(model: [:admins_backoffice, @user], local: true) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div calss="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div calss="field">
    <%= f.label :ar %>
    <%= f.text_field :ar %>
  </div>

  <div calss="field">
    <%= f.label :telephone %>
    <%= f.text_field :telephone %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :cant_day %>
    <%= f.select :cant_day, ['Segunda-feira', 'Terça-feira', 'Quarta-feira', 'Quinta-feira', 'Sexta-feira', 'Sábado', 'Domingo'], include_blank: true %>
  </div>

  <div class="field">
    <%= f.label :cant_time %>
    <%= f.select :cant_time, ['07:30', '08:20', '09:10', '10:10', '11:00', '13:20', '14:10', '15:00', '16:00', '16:50', '17:40', '18:50', '19:40', '20:30', '21:30', '22:30'], include_blank: true %>
  </div>

  <div class="field">
    <%= f.label :cant_time_end %>
    <%= f.select :cant_time_end, ['07:30', '08:20', '09:10', '10:10', '11:00', '13:20', '14:10', '15:00', '16:00', '16:50', '17:40', '18:50', '19:40', '20:30', '21:30', '22:30'], include_blank: true %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
