<%= form_with(model: [:users_backoffice, @agenda], local: true) do |form| %>
  <% if agenda.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(agenda.errors.count, "error") %> prohibited this agenda from being saved:</h2>
      <ul>
        <% agenda.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <thead>
    <th>Segunda-Feira</th>
    <th>Terça-Feira</th>
    <th>Quarta-Feira</th>
    <th>Quinta-Feira</th>
    <th>Sexta-Feira</th>
    <th>Sabado</th>
    </thead>

    <tbody>
    <tr>
      <% for i in 0..5 %>
        <td><%= form.check_box :morning_one, {multiple: true}, i, false %></td>
      <% end %>
    </tr>

    <tr>
      <% for i in 0..5 %>
        <td><%= form.check_box :morning_two, {multiple: true}, i, false %></td>
      <% end %>
    </tr>

    <tr>
      <% for i in 0..5 %>
        <td><%= form.check_box :morning_three, {multiple: true}, i, false %></td>
      <% end %>
    </tr>

    <tr>
      <% for i in 0..5 %>
        <td><%= form.check_box :morning_four, {multiple: true}, i, false %></td>
      <% end %>
    </tr>

    <tr>
      <% for i in 0..5 %>
        <td><%= form.check_box :morning_five, {multiple: true}, i, false %></td>
      <% end %>
    </tr>

    <tr>
      <% for i in 0..5 %>
        <td><%= form.check_box :afternoon_one, {multiple: true}, i, false %></td>
      <% end %>
    </tr>

    <tr>
      <% for i in 0..5 %>
        <td><%= form.check_box :afternoon_two, {multiple: true}, i, false %></td>
      <% end %>
    </tr>

    <tr>
      <% for i in 0..5 %>
        <td><%= form.check_box :afternoon_three, {multiple: true}, i, false %></td>
      <% end %>
    </tr>

    <tr>
      <% for i in 0..5 %>
        <td><%= form.check_box :afternoon_four, {multiple: true}, i, false %></td>
      <% end %>
    </tr>

    <tr>
      <% for i in 0..5 %>
        <td><%= form.check_box :afternoon_five, {multiple: true}, i, false %></td>
      <% end %>
    </tr>

    <tr>
      <% for i in 0..5 %>
        <td><%= form.check_box :afternoon_six, {multiple: true}, i, false %></td>
      <% end %>
    </tr>

    <tr>
      <% for i in 0..5 %>
        <td><%= form.check_box :evening_one, {multiple: true}, i, false %></td>
      <% end %>
    </tr>

    <tr>
      <% for i in 0..5 %>
        <td><%= form.check_box :evening_two, {multiple: true}, i, false %></td>
      <% end %>
    </tr>

    <tr>
      <% for i in 0..5 %>
        <td><%= form.check_box :evening_three, {multiple: true}, i, false %></td>
      <% end %>
    </tr>

    <tr>
      <% for i in 0..5 %>
        <td><%= form.check_box :evening_four, {multiple: true}, i, false %></td>
      <% end %>
    </tr>

    <tr>
      <% for i in 0..5 %>
        <td><%= form.check_box :evening_five, {multiple: true}, i, false %></td>
      <% end %>
    </tr>


    </tbody>
  </table>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>