<h1>Horários</h1><br><br>

<%= link_to new_admins_backoffice_schedule_path do %>
  <i class="fa fa-plus"></i> Novo
<% end %>

<div class="x_content">
  <table class="table table-striped">
    <thead>
    <tr>
      <th><%= @schedules.human_attribute_name(:professor) %></th>
      <th><%= @schedules.human_attribute_name(:course) %></th>
      <th>Estudantes</th>
      <th><%= @schedules.human_attribute_name(:weekday) %></th>
      <th><%= @schedules.human_attribute_name(:group) %></th>
      <th><%= @schedules.human_attribute_name(:time) %></th>
      <th><%= @schedules.human_attribute_name(:time_end) %></th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @schedules.each do |schedule| %>
      <tr>
        <td><%= User.find(schedule.user_id).description %></td>
        <td><%= Course.find(schedule.course_id).description %></td>

        <% if !ClassRoom.where(schedule_id: schedule.id).nil? %>
          <td>
            <% ClassRoom.where(schedule_id: schedule.id).each do |classroom| %>
              <%= Student.find(classroom.student_id).description %>,</br>
            <% end %></td>
        <% else %>
          <td></td>
        <% end %>

        <td><%= schedule.weekday %></td>
        <td><%= schedule.group %></td>
        <td><%= schedule.time %></td>
        <td><%= schedule.time_end %></td>
        <td>
          <%= link_to edit_admins_backoffice_schedule_path(schedule) do %>
            <i class="fa fa-pencil"></i>
          <% end %>
        </td>
        <td>
          <%= link_to admins_backoffice_schedule_path(schedule), method: :delete, data: {confirm: 'Você tem certeza?'} do %>
            <i class="fa fa-minus"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>