<p id="notice"><%= notice %></p>

<p>
  <strong><%= Course.human_attribute_name(:code_c) %>:</strong>
  <%= @course.code_c %>
</p>

<p>
  <strong><%= Course.human_attribute_name(:description) %>:</strong>
  <%= @course.description %>
</p>

<p>
  <strong><%= Course.human_attribute_name(:ideal_year) %>:</strong>
  <%= @course.ideal_year %>
</p>

<%= link_to t('links.edit'), edit_course_path(@course) %> |
<%= link_to t('links.back'), courses_path %>
